<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>

      As I'm self-employed, the opinions expressed on this blog <span style="font-weight:bold">do represent</span> those of my employer.

    </div>
  </div>
</footer>